.footer-container {
  width: 100%;
  height: 600px;
  background: #1e242c;
}

.footer_top_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_link_items_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;
}
.footer_link_item_title {
  font-family: var(--font-golos);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer_link_items_wrapper .footer_link_item {
  font-family: var(--font-golos);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #d2d3d5;
  text-shadow: var(--text-shadow);
}
.footer_link_item:hover {
  color: #ffffff;
}
.footer_top_bar_item {
  display: grid;
  grid-template-columns: 1fr;
}
.footer_line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  margin: 84px 0 32px;
}

/* @media screen and (max-width: 767px) {
  .footer-container {

  }
} */
