.form-control {
  /* margin: 1rem 0; */
  position: relative;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 31px;
  font: inherit;
  border: none;
  /* border: 0.7px solid transparent;
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.1); */
  background: transparent;
  font-family: var(--font-golos);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
}
.form-control input::placeholder {
  font-family: var(--font-golos);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.input_border_wrapper {
  width: 100%;
  position: relative;
  height: 0.7px;
}

.line_input {
  display: inline-block;
  position: absolute;
  height: 0.7px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  transition: all ease-in-out 500ms;
}
.line_input:nth-last-child(1) {
  background-color: #fff;
  width: 0;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}
.form-control
  input:focus
  + .input_border_wrapper
  .line_input:nth-last-child(1) {
  width: 100%;
  background-color: #fff;
}
.form-control--invalid
  input:focus
  + .input_border_wrapper
  .line_input:nth-last-child(1) {
  width: 100%;
  background-color: rgb(230, 34, 93);
}

.form-control--invalid label,
.form-control--invalid p {
  color: rgb(230, 34, 93);
}

.form-control--invalid .line_input {
  background: rgb(230, 34, 93);
}
