.check-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background: #21252c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-button span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}
.check-button .checked {
  background: #fff;
  border: 1px solid #21252c;
  color: #21252c;
}
input[type="radio"] {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}
