:root {
  --color-black: #000;
  --color-light-black: #333333;
  --color-white: #fff;
  --color-primary: #5b6460;
  --color-primary-hover: #808e88;
  --color-secondary: #e9ece0;
  --bg-primary: #5b5b5b;
  --font-golos: "Golos UI", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-oranienbaum: "Oranienbaum", serif;
  --text-shadow: -6px 62px 25px rgba(0, 0, 0, 0.01),
    -3px 35px 21px rgba(0, 0, 0, 0.05), -1px 16px 16px rgba(0, 0, 0, 0.09),
    0px 4px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  background: #FAFAFA;
}
a {
  text-decoration: none;
}
button {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.p-36 {
  padding: 0 52px;
}
.p-52 {
  padding: 0 52px;
}
.p-138 {
  padding: 0 138px;
}
h1 {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1280px) {
  .p-36 {
    padding: 0 26px;
  }
  .p-52 {
    padding: 0 42px;
  }
  .p-138 {
    padding: 0 108px;
  }
}
