:root {
  --color-black: #000;
  --color-light-black: #333333;
  --color-white: #fff;
  --color-primary: #5b6460;
  --color-primary-hover: #808e88;
  --color-secondary: #e9ece0;
  --bg-primary: #5b5b5b;
  --font-golos: "Golos UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
button {
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.p-52 {
  padding: 0 52px;
}
h1 {
  margin: 0;
  padding: 0;
}
